@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@layer utilities {
    .fancy-scroll::-webkit-scrollbar {
        width: 4px;
    }
    .fancy-scroll:hover::-webkit-scrollbar-thumb {
        @apply bg-gray-600 rounded-full;
    }
    .fancy-scroll {
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }
    .fancy-scroll:hover {
        scrollbar-color: theme('colors.gray[600]') transparent;
    }


    .styled-scroll::-webkit-scrollbar {
        width: 8px;
    }
    .styled-scroll::-webkit-scrollbar-thumb {
        @apply bg-gray-900 rounded-full;
    }
    .styled-scroll::-webkit-scrollbar-track {
        @apply bg-gray-800 rounded-full
    }
    .styled-scroll {
        scrollbar-color: theme('colors.gray[900]') theme('colors.gray[800]');
    }
}