@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@layer utilities {
    .fancy-scroll::-webkit-scrollbar {
        width: 6px;
    }
    .fancy-scroll:hover::-webkit-scrollbar-thumb {
        @apply bg-gray-600
    }
    .fancy-scroll {
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }
    .fancy-scroll:hover {
        scrollbar-color: theme('colors.gray[600]') transparent;
    }
}